@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");

:root {
  --primary: #31aee9;
  --secondary: #f0d045;
  --text-light: #ffffff;
  --text-dark: #2c2c2c;
  --bg-primary: #1036b6;
  --bg-secondary: #0c1e5a;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  color: var(--text-light);
}

::-webkit-scrollbar {
  width: 0px;
}

.container {
  padding: 0px 120px;
  clear: both;
}
